* { margin: 0; padding: 0; }

.psdevFileInput {
	position: relative;
	display: inline-block;
	padding-left: 32px;
	padding-right: 22px;
	width: 220px;
	height: 34px;
	text-align: left;
	
	border: 1px solid #222;
}

.psdevFileInput, .psdevFileInput * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

	.psdevFileInput input {
		opacity: 0;
		position: absolute;
		top: 0; right: 0;
		width: 100%; height: 32px;
		
		cursor: pointer;
	}
	
	.psdevFileInput .open {
		position: absolute;
		top: 0; left: 0;
		width: 31px; height: 32px;
		
		border-right: 1px solid #222;
		cursor: pointer;
		
		line-height: 32px;
		text-align: center;
		font-size: 16px;
	}
		.psdevFileInput .open:hover {
			opacity: 0.6;
		}

	.psdevFileInput .name-wrap {
		height: 18px;
		line-height: 18px;
		font-size: 12px;
	}
		.psdevFileInput .name-wrap:after {
			content: "";
			display: block;
			clear: both;
		}
		
		.psdevFileInput .multiple-control {
			display: none;
			float: left;
			padding-right: 2px;
		}
		
			.psdevFileInput .multiple-control i {
				height: 18px; width: 10px;
				line-height: 18px;
				text-align: center;
				
				cursor: pointer;
			}
				.psdevFileInput .multiple-control i:hover {
					opacity: 0.6;
				}
			
			.psdevFileInput .multiple-control .count {
				padding-left: 4px;
			}
		
		.psdevFileInput .name {
			padding-left: 4px;

			font-weight: bold;
			
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
			
	.psdevFileInput .remove {
		display: block;
		position: absolute;
		top: 0; right: 0;
		width: 22px; height: 32px;
		
		cursor: pointer;
		
		line-height: 32px;
		text-align: center;
		font-size: 12px;
	}
		.psdevFileInput .remove:hover { opacity: 0.6; }
		
	.psdevFileInput .info {
		height: 14px;
		line-height: 14px;
		font-size: 12px;
	}
		.psdevFileInput .info:after {
			content: "";
			display: block;
			clear: both;
		}
	
		.psdevFileInput .ext, .psdevFileInput .size {
			display: block;
			float: left;
		}
		
		.psdevFileInput .ext {
			padding: 0 20px 0 4px;
		}
		
.psdevFileInput.empty .name {
	height: 32px;
	line-height: 32px;
}
.psdevFileInput.empty .info {
	display: none;
}
.psdevFileInput.empty .multiple-control {
	display: none;
}
.psdevFileInput.multiple .multiple-control {
	display: block;
}
	

	